{:kotoba.package/name "kotoba-lang/bencode"
 :kotoba.package/version "0.1.0-dev"
 :kotoba.package/kind :library
 :kotoba.package/exports [kotoba.bencode]
 :kotoba.package/capabilities []
 :kotoba.package/dependencies []
 :kotoba.package/publication :development-unlocked}
